body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header Stuff */
.header {
    height: 300px;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding-left: 75px;
    padding-right: 75px;
    gap: 8px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.subheader div {
    font-size: 24px;
}

a {
    font-size: 18px;
    color: #E5E7EB; 
}

ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

.bottomheader {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.smallbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: baseline;
}

.bottomheader button {
    padding: 10px;
    border-radius: 12px;
}

/*Info Section */

.info {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.title {
    padding-top: 10px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    gap: 20px;
    color: #1F2937;
}

.container img {
    border-radius: 12px;
    border: 2px solid blue;
}

/* Quote Section */
.quote {
    background-color: lightgray;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}

.quote div {
    align-self: end;
}

/*CTA */

.cta {
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.bigb {
    padding: 20px 50px;
    background-color: #3882F6;
    display: flex;
    gap: 20px;
    border-radius: 8px;
}

.sideb {
    display: flex;
    flex-direction: column;
}

.cta button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

/*Footer and Misc*/

.footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header,.footer {
    background-color: #1F2937;
}




